#popularMovies{
    
    background-color: rgba(219, 219, 219, 0.65) ;
    width: 96%;
    height: 45%;
    margin: auto;
    
    margin-top: 30px;
    padding: 20px 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    

}

#popularMovies h2, #popularMovies h1{
    padding: 0%;
    margin: 0%;
}

#heroSection h2 , #heroSection h1{
    font-size:50px;
}
