#searchResult {

    background-color: rgba(219, 219, 219, 0.65);
    width: 90%;
    margin: auto;

    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 30px;

}

#searchResult h2,
#searchResult h1 {
    padding: 0%;
    margin: 0%;
}


.product {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 360px;
    background-color: rgba(219, 219, 219, 0.685);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
    margin: 30px;
    position: relative;
    cursor: pointer;
}

.product-title {
    width: 100%;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    text-align: center;

}

.product-price {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-category {
    font-size: small;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;

}

.product-information {
    font-size: small;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;

}

.product-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 220px;

}