body {
    background-image: url("images/background.jpg");
    background-size: cover;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#header {
    background-color: rgba(34, 19, 19, 0.87);
    display: flex;
    align-items: center;
    margin-top: 0%;
    font-family: "Times New Roman", sans-serif;

}

#header2 {
    background-color: rgba(34, 19, 19, 0.87);
    display: flex;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#headerTitle {
    margin-left: 40px;
    margin-right: 250px;
    color: rgba(254, 254, 254, 1);
    text-shadow: 3px 3px 3px #C04B1B;
    cursor: pointer;
}

#headerUl {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

#searchInput {
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 35px;
    width: 400px;
    margin-right: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.headerBtn {
    margin-right: 20px;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: rgba(219, 219, 219, 0.0);
    color: white;
    text-shadow: 3px 3px 3px black;
    transition-duration: 0.4s;

}

.headerBtn:hover {
    color: rgb(228, 194, 120);
    cursor: pointer;
}

#loginBtn {
    cursor: not-allowed;

}

#loginBtn:hover {
    cursor: not-allowed;
    color: white;

}


#heroSection h1,
#heroSection h2 {
    color: rgb(220, 220, 220);
    text-shadow: 3px 3px 3px black;
    font-family: "Roboto", sans-serif;
    margin-left: 40px;
}

#popularMovies {
    text-indent: 40px;
    background-color: rgba(219, 219, 219, 0.65);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.header2Li {
    color: rgb(220, 220, 220);
    text-shadow: 3px 3px 3px black;
}

#uniqueProduct {
    background-color: rgba(219, 219, 219, 0.65);
    position: absolute;
    top: 40%;
    text-indent: 40px;
    display: flex;
    padding: 40px;
    margin: 0px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

}

#uniqueProductPicture {
    width: 40%;
    height: 40%;

}

#productInformation {
    text-align: center;

}

#productName {
    margin: 0px;
    padding-left: 40px;
}

#productGenre {
    margin: 0px;
    padding-left: 80px;
    font-size: 80%;
    font-weight: bold;
    opacity: 50%;
    text-align: left;
}

#productDescription {

    padding-left: 40px;
    margin-top: 40px;
    max-width: 250px;
    text-align: left;

}

#productPrice {

    margin-top: 30px;
    text-align: center;
    margin-bottom: 0px;

}

#addToCartBtn {
    margin-left: 40px;
    cursor: pointer;
}

#order {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(220, 220, 220, 0.82);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    list-style: none;
    justify-content: center;
}

#btnDiv {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(220, 220, 220, 0.82);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
}

#buyBtn {
    cursor: pointer;
}